@charset "utf-8";


#aboutUs, #formArea {
    margin: 16px 16px 8px;
}

#headLine{
    min-height: 180px;
    margin-bottom: 24px;
}

#introImage {
    float: left;
    margin: 0 16px 8px;
}

#introMessage {
    padding: 0 8px 0;
    margin-bottom: 16px;
}

tr {
    border-color: #CCCCCC;
    border-width: 2px;
}

ul {
    list-style: none;
}

.heading {
    background-color: #EEEEEE;
    border-bottom: #fff 1px solid;
    text-align: right;
    padding: 4px 8px 4px;
    width: 120px;
}

.detail {
    padding-left: 16px;
}

#otoiawase {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#formArea {
    margin-top: 16px;
    position: relative;
}

p.required {
    position: absolute;
    right: 24px;
    top: 24px;
}

.required {
    color: #FF0000;
    font-size: small;
}

.fontSmall {
    font-size: smaller;
}

table input, select, textarea {
    border-color: #AAAAAA;
    border-radius: 2px;
    border-width: 1px;
}

input[type="tel"] {
    width: 40px;
}

#confirmBtnArea {
    margin: 16px;
    text-align: center;
}

#footer {
    background-color: #333333;
    color: #DDDDDD;
    padding: 4px 8px 4px;
    margin-top: 24px;
}