/******************************************************************
*
* SLIDE CSS
*
******************************************************************/
#slideWrap {
    width: 100%;
    height: 170px;
    overflow: hidden;
    position: relative;
}
#slideWrap .slideParent {
    position: absolute;
    padding: 0;
}

#slideWrap .slideParent li {
    width: 100%;
    height: 170px;
    float: left;
}

#slideWrap .slideBtn {
    position: absolute;
    top: 71px;
    z-index: 10;
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

#slideWrap .slidePrev {
    left: 10px;
}

#slideWrap .slideNext {
    right: 10px;
}
